@font-face {
	font-family: 'ProbaPro';
	src: url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-Regular.eot');
	src: local('☺'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-Regular.woff') format('woff'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-Regular.ttf') format('truetype'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProbaPro';
	src: url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-SemiBold.eot');
	src: local('☺'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-SemiBold.woff') format('woff'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-SemiBold.ttf') format('truetype'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'ProbaPro';
	src: url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-MediumItalic.eot');
	src: local('☺'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-MediumItalic.woff') format('woff'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-MediumItalic.ttf') format('truetype'), url('https://raw.githubusercontent.com/miraculous-bog/mail-list-GO/main/fonts/ProbaPro-MediumItalic.svg') format('svg');
	font-weight: 500;
	font-style: 'italic';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'ProbaPro';
}

/* body { */
	/* width: 600px; */
/* } */
.main {
	max-width: 600px;

	margin: 0 auto;
	border-spacing: 0px;
	border-collapse: collapse;
}

.header {
	width: 100%;
	background-color: #31547f;
}

.header__flex {
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 2em;
	font-size: 13px;
}
.header__flex h1{
	padding: 10px 50px;
}
.header-logo {
	max-width: 100px;
}
@media (max-width: 420px) {
	.header__flex h1{
		padding: 10px 0px;
		line-height: 1.3em;
	}
}
/*action*/
.action {
	width: 100%;
	margin: 0;

}

.action__flex {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	line-height: 1.2em;
	border-top: 2px solid #31547f;
}

.action__text {
	font-size: 13px;
	color: #31547f;
	line-height: 2em;
}
.action__left, .action__right {
	width: 10%;
}

.action__left-img {
	width: 70px;
}
.action__right-img {
	width: 70px;
	margin-bottom: 50px;
}

.action__link {
	width: 130px;
	height: 46px;
}
.action__action {
	font-size: 23px;
	font-weight: 600;
	color: #55317f;
	padding: 15px 0;
}

@media (max-width: 420px) {
	.action__text {
		font-size: 12px;
		color: #31547f;
		line-height: 1.5em;
	}
	.action__right-img {
		margin-bottom: 100px;
	}
}
/*adv*/
.adv {
	width: 100%;
	margin: 0;
}

.adv__flex {
	width: 100%;
	border-spacing: 20px;
	border-collapse: separate;
	/* padding: 10px; */
}


.adv__element {
	max-width: 30%;
	width: 100%;
	background-color: #4fa0cb;
	color: #fff;
	font-weight: 600;
	padding: 25px;
}
.adv__element img{
	max-width: 100%;
	width: 150px;
	display: inline-block;
	margin: 5px;
}
.adv__element-title {
	font-size: 12px;
	color: #fff;
	font-weight: 600;
}

.adv__element-list, .adv__element-text {
	font-size: 10px;
	color: #fff;
	margin-top: 5px;
	font-weight: 500;
}

@media (max-width: 430px) {
	.adv__element {
		max-width: 100%;
		width: 100%;
		 background-color: white;
		/*color: #fff;
		font-weight: 600;
		padding: 25px; */
	}
	.adv__element img{
		max-width: 120%;
		width: 250px;
		height: 250px;
		display: block;
		margin:0 auto;
		padding: 10px;
	}
}
/*main-slide*/

.main-slide {
	width: 100%;
	background-color: #ffcb05;

}

.main-slide__flex {
	width: 100%;
	padding: 7px 20px 7px 40px;
}

.main-slide__img-cell {
	width: 20%;
}
.main-slide-img {
	width: 175px;
}
.main-slide__content-cell {
	width: 80%;
	background-color: #4fa0cb;
	border-radius: 10px;
	text-align: center;
	color: white;
	padding: 10px 10px 20px 10px;
}


.main-slide__content-cell h2 {
	font-size: 18px;
	margin-top: 5px;
	font-weight: 600;
	line-height: 1.3em;
}
.main-slide__content-cell p {
	line-height: 1.2em;
	padding: 20px 0;
}
.main-slide-btn {
	background-color: #ffcb05;
	padding: 5px 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	border-radius: 10px;
	border: 2px solid white;

}
@media (max-width: 420px) {
	.main-slide__flex {
		width: 100%;
		padding: 5px 5px 5px 5px;
	}
	.main-slide__img-cell {
		display: none;
	}
	.main-slide__content-cell {
		width: 85%;
		padding: 5px 5px 10px 5px;
	}
	.main-slide__img-cell-mobile {
		display: block;
	}
}
@media (max-width: 490px) {

	.main-slide__img-cell {
		display: none;
	}
	.main-slide-img {
		margin: 0 auto;
		display: block;
	}
	.main-slide__img-cell-mobile {
		display: block;
	}
}
@media (min-width: 490px) {
	.main-slide__img-cell-mobile {
		display: none;
	}
}
/*victory*/
.victory, .victory__flex{
	width: 100%;
	padding: 10px 0 15px 0;
}

.victory__logo {
	width: 40%;
}
.victory__text {
	width: 60%;
} 
.victory__logo img{
	width: 88px;
	display: block;
	margin: 0 50%;
}

.victory__text p{
	text-align: left;
	line-height: 1em;
	color: #31547f;
	font-style: "italic";
	font-size: 20px;
}

.victory__text span {
	/* text-transform: uppercase; */
	/* padding-top: 5px; */
	font-weight: 600;
}
@media (max-width: 460px) {
	.victory__logo img{

		margin: 0 10%;
	}
	.victory__logo {
		width: 30%;
	}
	.victory__text {
		width: 60%;
	}
}
/*footer*/
.footer {
	width: 100%;
}
.footer__flex {
	width: 100%;
	background-color: #31547f;
	padding: 20px;

}

.footer__left {
	width: 50%;
}
.footer__right {
	width: 50%;
}
.footer__left table{
	width: 100%;
}

.footer__right table{
	width: 100%;
}
.footer__title {
	width: 100%;
	font-size: 20px;
	text-align: left;
	color: #fff;

}
.footer__marketplace {
	padding: 20px 0;
}
.footer__marketplace img {
	width: 130px;
	height: 46px;
	display: inline-block;
	margin: 0 auto;
}
.footer__ios img {
	width: 130px;
	height: 46px;
}
.footer__icons{
	width: 65px;
}
.footer__icons-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 5px;
	background-color: #fff;
}
.footer__text {
	color: #fff;
	text-align: center;
	padding: 0 20px;
	font-size: 12px;
	text-align: left;
	border-left: 2px solid white;
}
@media (max-width: 400px) {
	.footer__flex {

		padding: 5px;
	}
	
}